#header{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.beams {
  height: 40vh;
  width: 40%;
}

.title {
  box-sizing: border-box;
  text-align: center;
  padding-top: 80px;
  margin: 0px;
  color: white;
  background-color: black;
  height: 40vh;
  width: 20%;
}

.title-text {
  font-size: 50px;
}

.sub-text {
  font-size: 20px;
}

.beamsR {
  height:40vh;
  width: 40%;

}
