#header{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.beams {
  height: 40vh;
  width: 40%;
}

.title {
  box-sizing: border-box;
  text-align: center;
  padding-top: 80px;
  margin: 0px;
  color: white;
  background-color: black;
  height: 40vh;
  width: 20%;
}

.title-text {
  font-size: 50px;
}

.sub-text {
  font-size: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
  width:100%;
  margin: 0px;
}

nav li {
list-style: none;
border: 2px black solid;
width: 10%;
text-align: center;
padding: 5px;
}

footer {
  background-color: black;
  color: white;
}

.return {

}
